body {
  margin: 0;
  padding: 0;
}

/* Import Fonts */
@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaThin.otf);
    font-weight: 100;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaRegular.otf);
    font-weight: 200;
}

@font-face {
    font-family: Proxima Nova;
    src: url(fonts/ProximaNovaSemibold.otf);
    font-weight: 300;
}

@font-face {
    font-family: Rockwell;
    src: url(fonts/Rockwell.TTF);
    font-weight: 200;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 40vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  font-family: Rockwell;
  font-weight: 400;
  color: #8BD9F9;
}

.App-content {
  font-size: 20px;
  font-family: Proxima Nova;
  font-weight: 100;
  width: 350px;
  color: white;
}

.setup-navbar {
  display: inline;
  margin: 0px;
}

.logo-image {
  max-height: 24px;
  display: inline;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
  top: 50%;
}

.cut-top {
  clear: both;
}

.page-title {
  font-family: Proxima Nova;
  font-weight: 300;
  font-size: 24px;
  color: #8BD9F9;
}

.active-area {
    max-width: 580px;
    margin: 6vh auto;
}

.button {
    background-color: #389BC2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Proxima Nova;
    font-weight: 100;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    outline: none;
    border-radius: 30px;
}

.button-black {
  background-color: white;
  border: none;
  color: #389BC2;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Proxima Nova;
  font-weight: 100;
  margin: 4px 2px;
  margin-top: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
}

.button-black-transparent {
    background-color: transparent;
    color: #389BC2;
    border: 2px solid #389BC2;
}

.button-transparent {
    background-color: transparent;
    color: white;
    border: 2px solid #389BC2;
}

.button-transparent:hover, .button-black-transparent:hover {
    background-color: #389BC2;
    color: white;
    outline: none;
}

.divider {
  margin-top: 30px;
}

/* Create : styles */
.create-header {
  background-color: white;
}

.input-label {
  font-family: Proxima Nova;
  font-weight: 200;
  font-size: 20px;
  color: #515151;
  display: block;
}

.input-box {
  font-family: Proxima Nova;
  font-weight: 100;
  font-size: 24px;
  color: #21252B;
  width: 90%;
  margin-top: 10px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 13px;
  border: 0;
  outline: 0;
  background: #F5F3F4;
  border-radius: 10px;
}

.input-box::placeholder {
  font-weight: 100;
  color: #757575;
}

.input-box:focus, .button:focus {
  outline: none;
}

textarea {
  resize: none
}

@media screen and (max-width: 620px) {
    .active-area {
        margin-left: 5vh;
        margin-right: 5vh;
    }

    .input-box {
      width: 95%;
    }
}

/* Not Found : styles */

.not-found-image {
  height: 400px;
  margin-top: 0;
}

.not-found-header {
  background-color: #3D4259;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-family: Proxima Nova;
  font-weight: 200;
  color: #8BD9F9;
}

.not-found-header * .button {
  font-size: 16px;
}

/* Demo : styles */
.main-div-demo {
  margin-top: 100px;
  margin-right: 5%;
  margin-left: 5%;
}

.split-demo {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left-demo {
    margin-top: 80px;
    left: 0;
}

.right-demo {
    right: 0;
    background: #E7EAED;
}

.right-content {
  margin-top: 20px;
}

.centered-demo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.left-margin-demo {
  margin-left: 50px;
}

.input-box-demo {
  width: 25%;
  font-size: 18px;
  display: inline-block;
  float: left;
  margin-bottom: 30px;
}

.input-box-second-demo {
  margin-left: 10px;
}

.heading-demo {
  font-family: Proxima Nova;
  font-weight: 100;
  font-size: 24px;
  color: #21252B;
}

.inline-component-demo {
  display: inline-block;
}

.button-demo {
  display: inline;
  width: 20%;
  font-size: 16px;
  margin-right: 50px;
  margin-left: 20px;
  float: right;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 8px;
  float: right;
  clear: right;
}

.clear-left-demo {
  clear: left;
}

.data-demo {
    font-family: Proxima Nova;
    font-size: 16px;
    font-weight: 100;
    border-collapse: collapse;
    width: 90%;
}

.data-demo td, .data-demo th {
    border: 1px solid #ddd;
    padding: 8px;
}

.data-demo tr:nth-child(even) {
  background: #f2f2f2;
}

.data-demo tr:hover {
  background: #ddd;
}

.data-demo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #389BC2;
    color: white;
}

@media screen and (max-width: 620px) {
  .split-demo {
      width: 100%;
      position: relative;
  }

  .button-demo {
    width: 25%;
    font-size: 16px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

.input-box-option {
  font-size: 20px;
  color: #21252B;
  width: 80%;
  background: #F5F3F4;
  border-radius: 10px;
  margin-top: 3px;
  margin-right: 5px;
}

.button-black-remove-option {
  padding: 0px 8px;
}

.input-label-option {
  margin-bottom: 5px;
}

.reduced-margin-bottom {
  margin-bottom: -15px;
}

.reduced-margin-top {
  margin-bottom: 10px;
}

.option-input, .option-li, #helperspan {
 display: inline-block;
 font-size: 20px;
 font-family: 'Raleway', sans-serif;
 font-weight: 400;
 text-align: left;
 letter-spacing: 2px;
}

.option-input, .option-li {
 vertical-align: bottom;
 margin-right: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
 border-radius: 40px;
 transition: translate .2s;
}

#helperspan {
 white-space: pre;
 visibility: hidden;
 position: absolute;
 pointer-events: none;
}

.option-input {
 background-color: #2a2734;
 border: 2px solid #7149ee;
 color: #7149ee;
 width: auto;
 height: 48px;
 padding: 0 20px;
}

.option-li {
 color: #fff;
 padding: 0 50px 0 20px;
 list-style-type: none;
 line-height: 50px;
 font-weight: 300;
 position: relative;
 cursor: pointer;
 user-select: none;
 white-space: pre;
}

.option-li, .option-input { max-width: 80vw; }
.option-li { overflow: hidden; text-overflow: ellipsis; }

.option-li:hover {
 transform: scale(1.05);
}

.option-li:after {
 content: " ×";
 color: #333;
 font-weight: 400;
 opacity: .6;
 font-size: 30px;
 line-height: 20px;
 position: absolute;
 right: 20px;
 top: 14px;
}

.option-li:hover::after {
 opacity: 1;
}

.option-input:focus,
.option-input#add:focus {
 outline: none;
 width: 130px;
}

.option-div {
 display: inline-block;
}

.error-msg {
  font-family: Proxima Nova;
  font-weight: 100;
  font-size: 14px;
  color: #AC4143;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;
}

.switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #8BD9F9;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8BD9F9;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.poll-question-p {
  font-family: Proxima Nova;
  font-size: 30px;
  font-weight: 100;
  color: #515151;
  text-align: center;
}

.poll-link {
  font-family: Proxima Nova;
  font-size: 20px;
  font-weight: 100;
  color: #4E8F85;
  text-decoration: none !important;
}

.poll-link:link {
  text-decoration: none !important;
}

.poll-link:hover {
  color: #8BD9F9;
}

.poll-option-button {
  background-color: white;
  border: 1px solid #389BC2;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  font-size: 24px;
  font-family: Proxima Nova;
  font-weight: 100;
  margin: 4px 2px;
  margin-top: 20px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
  color: #389BC2;
  width: 50%;
}

.poll-option-button:hover {
    background-color: #389BC2;
    color: white;
    outline: none;
}

.poll-link-div {
  background-color: #1B2A41;
  border-radius: 15px;
  padding: 15px 15px;
  text-align: center;
}

.poll-link-link {
  font-family: Proxima Nova;
  color: white;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
}

@media screen and (max-width: 620px) {
  .poll-link-link {
    font-weight: 100;
    font-size: 16px;
  }
}

.poll-link-link:link {
  text-decoration: none;
}

.buttons-list {
  margin-top: 30px;
  text-align: center;
}

.button-share {
  vertical-align: top;
  display: inline-block;
  margin-right: 15px;
  text-align: center;
}

.button-share-pointer {
  cursor: pointer;
}

.button-share-pointer:hover:not(:active) {
  opacity: 0.75;
}

.a:link {
    text-decoration: none;
}

.a:visited {
    text-decoration: none;
}

.a:hover {
    text-decoration: underline;
    border-bottom: 1px solid #8BD9F9;
}

.a:active {
    text-decoration: underline;
    border-bottom: 1px solid #8BD9F9;
}

.feed-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #8BD9F9;
}

.user-header {
  background-color: #282C34;
  color: #8BD9F9;
  height: 100%;
  flex-direction: column;
  min-height: 100vh;
}

.poll-widget-feed-cover {
  background: white;
  border-radius: 20px;
  padding: 30px 30px;
  margin-bottom: 50px;
}

@media screen and (max-width: 620px) {
  .poll-widget-feed-cover {
    padding: 5px 5px;
  }
}

.analytics-question {
  font-weight: 100;
}

.login-button-position {
  max-height: 24px;
  display: inline-block;
  float: right;
  margin-top: 0px;
  margin-right: 30px;
  position: relative;
}

.error-log-in {
  font-family: Proxima Nova;
  font-weight: 100;
  font-size: 16px;
  color: #AC4143;
}

.avatar-top {
  height: 50px;
  margin-top: 20px;
  display: inline-block;
  margin-right: 10px;
  border: 2px solid #8BD9F9;
  border-radius: 25px;
}

.user-name {
  display: inline;
}

.logo-block {
  display: inline-block;
}

.user-details {
  align-items: center;
  justify-content: center;
}

.user-profile-name {
  font-size: 36px;
  font-family: Proxima Nova;
  font-weight: 100;
  color: #8BD9F9;
  text-align: center;
}

.user-profile-image {
  width: 250px;
  border-radius: 125px;
  color: #8BD9F9;
}

.login-button-up {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1;
}

@media screen and (max-width: 620px) {
  .login-button-up {
    position: fixed;
    top: 3px;
    right: 3px;
    z-index: 5;
  }

  .login-button-position {
    max-height: 16px;
    margin-top: 0px;
    margin-right: 10px;
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #8BD9F9;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.poll-settings-img {
  max-width: 25px;
  display: inline;
  margin-top: 5%;
  margin-right: 10%;
  margin-left: 90%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.delete-button {
    background-color: Transparent;
    border: none;
    cursor:pointer;
    max-width: 35px;
    display: inline;
    margin-right: 15%;
    margin-left: 85%;
}

.stats-header {
  background-color: #F4F4F4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #8BD9F9;
}

.stats-active-area {
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -5%;
}

.stats-count-box {
  background-color: white;
  height: 100px;
  color: black;
  border-radius: 5px;
}

.stats-count {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

.stats-count-label {
  font-family: Proxima Nova;
  font-weight: 200;
  font-size: 16px;
  margin-top: -55px;
  color: #292D34;
}

.stats-count-count {
  font-family: Proxima Nova;
  font-weight: 100;
  font-size: 48px;
  color: #8BD9F9;
  margin-top: 0px;
}

@media screen and (max-width: 620px) {
  .stats-active-area {
      width: 95%;
      margin-right: auto;
      margin-left: auto;
      margin-top: -5%
      text-align: center;
  }

  .stats-count {
    display: inline-block;
    float: left;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
  }
}

/* Map animation */
.dot {
	margin: auto auto;
	width: 300px;
	height: 300px;
	position: relative;
}

.centraldot {
	width: 6px;
	height: 6px;
	background: rgba(32,150,243,1);
	border-radius: 30px;
	position: absolute;
	left:147px;
	top:147px;
	animation: animationDotCentral linear 3s;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
}


.wave {
	width: 260px;
	height: 260px;
	background: rgba(32,150,243,0.4);
	border-radius: 200px;
	position: absolute;
	left:20px;
	top:20px;
	opacity: 0;
	animation: animationWave cubic-bezier(0,.54,.53,1) 3s;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  animation-delay:0.9s;
  animation-iteration-count: infinite;
}

.wave2 {
	width: 260px;
	height: 260px;
	background: rgba(32,150,243,0.4);
	border-radius: 200px;
	position: absolute;
	left:20px;
	top:20px;
	opacity: 0;
	animation: animationWave cubic-bezier(0,.54,.53,1) 3s;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards;
  animation-delay:1.07s;
  animation-iteration-count: infinite;
}


@keyframes animationDotCentral {

	0% {
		transform:  scale(0) ;
		opacity: 0;
	}

	5% {
		transform:  scale(2) ;
	}

	10% {
		transform:  scale(0.90) ;
		opacity: 1;
	}


	11% {
		transform:  scale(1.50) ;
	}

	12% {
		transform:  scale(1.00) ;
	}

	28% {
		background: rgba(32,150,243,1);
	}

	29% {
		background: rgba(255,255,255,1);
	}

	31% {
		background: rgba(32,150,243,1);
	}

	33% {
		background: rgba(255,255,255,1);
	}

	35% {
		background: rgba(32,150,243,1);
	}

	90%{
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes animationWave{
	0% {
	    opacity: 0;
	    transform:  scale(0.00);
	}

	1% {
		opacity: 1;
	}

	10% {
		background: rgba(32,150,243,0.4);
	}

	100% {
	 	transform:  scale(1) ;
	 	background: rgba(32,150,243,0.0);
	}
}
